.App {
  text-align: center;
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;
  width:auto; /* Full viewport width */
}

h1 {
  color: #333;
}

.navbar {
  background-color: #282c34;
  padding: 20px;
  color: white;
  width: 100%;
}

.footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
